<h3>Reset your password</h3>
<%= standard_flashes("First, let me know who you are.") %>
<% form_tag secret_new_password_reset_path do -%>
  <p>Username: <%= text_field_tag :username %></p>
  <p><%= submit_tag("Go!") %></p>
<% end -%>
