<h3>Password reset</h3>
<%= standard_flashes %>
<p>Now, to prove that it's really you, add this code:</p>
<p class="emphasised"><%= @bunny.secret %></p>
<p>to the 'About Me' section on your <a href="http://metachat.org/users/<%= @bunny.username %>" target="_blank">MetaChat profile page</a>.</p>
<%= button_to("Okay, I've done that!", check_password_reset_path(@bunny.id)) %>
