<%= standard_flashes %>
<p>Add this code:</p>
<p><%= @bunny.secret %></p>
<p>to your <a href="http://metachat.org/users/<%= @bunny.username %>">MetaChat profile page</a>.</p>
<%= button_to("Continue", check_password_reset_path(@bunny.id)) %>
