<h3>Almost there!</h3>

<%= standard_flashes %>

<p>To prove that you're not an impostor, please go to your <a href="http://metachat.org/users/<%= @bunny.username %>">MeCha profile page</a>, and add this special code to your 'About Me' section:</p>

<p class="emphasised"><%= @bunny.secret %></p>

<p>When you've done that, come back here and click:</p>

<%= button_to("Okay, I'm done, let me in!", check_bunny_path(@bunny)) %>
