body {
  background-color: #f7f9fb;
  background-image: url(/images/bunnylove.gif);
  background-repeat: no-repeat;
  background-position: 3px 10px;
  background-attachment: fixed;
  margin: 0;
  padding: 1em 1em 1em 180px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  color: black;
  min-width: 500px;
}

h1 {
  margin: 0;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: black;
}

h2 {
  font-size: 1em;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0 0 1em;
}

a {
  color: #0000ff;
  text-decoration: underline;
}

a:hover {
  background-color: #0000ff;
  color: #f7f9fb;
  text-decoration: none;
}

ul#sent_valentines, ul#received_valentines {
  list-style-type: none;
  margin: 0;
  padding: 0 1em;
}

ul#sent_valentines li, ul#received_valentines li {
  margin: 0 0 0.5em;
  padding: 5px;
  background-color: #e2acad;
}

ul#sent_valentines li div, ul#received_valentines li div {
  margin: 0.5em 0;
  font-family: Georgia, Garamond, Times, "Times New Roman", serif;
}

ul#sent_valentines li p, ul#received_valentines li p {
  margin: 0.5em 0;
}

.timestamp {
  font-size: 0.8em;
}

#footer {
  font-size: 0.8em;
  border-top: 1px solid black;
}

p.errorMessage {
   background-color: #ea5252;
   border: 2px solid #bd4b4b;
   border-left: none; border-right: none;
   margin: 1em 0;
   background-image: url(/images/cross.gif);
   background-repeat: no-repeat;
   background-position: 15px 50%;
   color: white;
   padding: 5px 10px 5px 40px;
}

p.successMessage {
   background-color: #80c759;
   border: 2px solid #5e803f;
   border-left: none; border-right: none;
   margin: 1em 0;
   background-image: url(/images/tick.gif);
   background-repeat: no-repeat;
   background-position: 15px 50%;
   color: white;
   padding: 5px 10px 5px 40px;
}

div.received_container, div.sent_container {
  width: 48%;
  text-align: center;
}

div.received_container {
  float: left;
}

div.sent_container {
  float: right;
}

div.send_container {
  text-align: center;
  border-bottom: 1px solid black;
}

div.send_container input {
  width: 300px;
  text-align: center;
}

div.send_container textarea {
  text-align: center;
  font-family: Georgia, Garamond, Times, "Times New Roman", serif;
  font-size: small;
  width: 300px;
}


.clear {
  clear: both;
}

p.archives {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
}

h3 {
  text-align: center;
}