<li id="sent_fright_<%= v.id %>">
  <div><%= htmlize_linebreaks(h(decode_message(v.message))) %></div>
  <p class="timestamp">Sent to <%=h v.recipient_username %> <%= v.created_at.to_s(:short_timestamp) %></p>
</li>
