<h3>Privacy</h3>
<p>In the interests of full disclosure, here's some information about Bunny Love, how it's run, and the security and privacy measures that are in place.</p>
<ul>
  <li>Bunny Love is produced and run by me, <a href="http://www.feedmechocolate.com/">chrismear</a>. It is hosted on a server operated by my company, <a href="http://www.odegy.com/">Odegy</a>. It is not officially endorsed by MetaChat.</li>
  <li>The password you choose for Bunny Love is stored only in an encrypted form, so there is no way for someone to read your password.</li>
  <li>The messages you send on Bunny Love are stored only in an obfuscated way, so that there's no way of me accidentally reading any of them while I'm maintaining the site.</li>
  <li>If I have to, it <em>is</em> possible for me to manually dig in to the database, decode the messages, and figure out who is sending them. However, I would only do this in exceptional circumstances (such as needing to track down someone who's sending abusive messages). It goes without saying that I hope I won't have to do this.</li>
</ul>
