<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name = "viewport" content = "width = 700">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-startup-image" href="/images/apple-touch-startup.png">
  
  <title>bunny love</title>
  <%= stylesheet_link_tag "screen" %>
  <% if Fright.allow_frights? -%>
    <%= stylesheet_link_tag "frights", :title => "frights", :rel => "alternate stylesheet" %>
  <% end -%>
  <%= javascript_include_tag :all, :cache => true %>
</head>

<% if Fright.allow_frights? -%>
  <body onload="spooky();">
  <div id="lightning" style="display: none;"></div>  
  <div id="darkness" style="display: none;"></div>  
  <h1 id="bunnyloveheading"><a href="/">bunny love</a></h1>
  <h1 id="bunnyfrightheading" style="display: none;"><a href="/">bunny <s>love</s> fright</a></h1>
  <h2 id="bunnylovesubheading">MeCha Anonymous Valentines</h2>
  <h2 id="bunnyfrightsubheading" style="display: none;">MeCha Anonymous Scary Halloween Time</h2>
<% else -%>
  <body>
    <h1 id="bunnyloveheading"><a href="/">bunny love</a></h1>
    <h2 id="bunnylovesubheading">MeCha Anonymous Valentines</h2>
<% end -%>

<%= yield %>


<div id="footer">
  <p>This is not an official MetaChat thingy. Any problems or questions, <a href="mailto:chris@feedmechocolate.com">contact chrismear</a>. <a href="/privacy">Privacy Policy.</a> The <a href="http://github.com/chrismear/bunnylove/">code for Bunny Love</a> is available under the WTFPL.</p>
</div>
</body>
</html>
